In [1]:
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd

In [3]:
ecom_sales = pd.read_csv('datasets/ecom_sales.csv')
ecom_sales.head()

,InvoiceNo,Description,OrderValue,Quantity,CustomerID,Country
0,549185,PACK OF 20 NAPKINS PANTRY DESIGN,10.20,12,18272.0,United Kingdom
1,576381,NATURAL SLATE HEART CHALKBOARD,35.40,12,12839.0,United Kingdom
2,551192,36 PENCILS TUBE SKULLS,20.00,16,16188.0,United Kingdom
3,573553,SET 6 SCHOOL MILK BOTTLES IN CRATE,7.46,1,NaN,United Kingdom
4,539436,FINE WICKER HEART,2.51,1,NaN,United Kingdom

In [10]:
ecom_sales = ecom_sales.groupby(['Country'])['OrderValue'].agg('sum').reset_index(name='Total Sales ($)')

In [11]:
ecom_sales.head()

          Country  Total Sales ($)
0       Australia          6349.89
1          France          2623.79
2         Germany          3153.71
3       Hong Kong          1660.24
4  United Kingdom          3131.01